<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <ion-list mode="md">
          <ion-item>
            <p>
              <strong>App Name: </strong>
              <span> iWeather</span>
            </p>
            
          </ion-item>
          <ion-item>
            <p>
              <strong>Version: </strong>
              <span>1.0.0</span>
            </p>
          </ion-item>
          <ion-item>
            <p>
              <strong>Description: </strong>
              <span>Simple weather app</span>
            </p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
